@use './variables';

@mixin d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin button {
    background-color: variables.$primary-color;
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    color: variables.$color-white;
}