/* PALETTE COLORI */
$color-white: #fff;
$color-black: #000;
$color-light-grey: #f7f7f7;
$color-grey: #929aa3;
$color-dark-grey: #494c4e;
$primary-color: #7abc64;
$secondary-color: #353637;
$secondary-alternative-color: #1c1d1e;
$extra-color1: #7f9ea8;
$extra-color2: #33475b;
$extra-color3: #7799ad;