/* PALETTE COLORI */
$color-white: #fff;
$color-black: #040b11;
$color-grey: #929aac;
$primary-color: #85b680;
$primary-alternative-color: #79b27b;
$secondary-color: #484848;
$secondary-alternative-color: #3f4843;
$extra-color1: #e32929;
$extra-color2: #d6c9b0;
$extra-color3: #78020f;
$extra-color4: #db677d;
$extra-color5: #79b7e4;
$extra-color6: #036db4;
$extra-color7: #e5e8eb;
$extra-color8: #7f9ea8;
$extra-color9: #93806f;
$extra-color10: #d82b32;
$extra-color11: #48644b;
$extra-color12: #9f1726;
$extra-color13: #0f1d1f;
$extra-color14: #d2b899;